<p>Alphabet Form</p>

<form action="Result" method="get">
    <p>Letter</p>
    <input type="text" name="Letter" maxlength="1" />

    <p>Position</p>
    <input type="number" name="Position"/>

    <p>Origin</p>
    <input type="text" name="Origin" />

    <input type="submit" />
</form>